@charset "UTF-8";
*{
  margin:0;
  padding:0;
}
body{
  background-color: gray;
}
header{
  background-color: #ACFA58;
}
#main{
  background-color: #088A85;
  width:calc(100% -200px);
  min-width:500px;
  float:left;
}
#main1{
  background-color: #04B4AE;
  float:left;
  width:500px;
}
#main2{
  background-color: #04B4AE;
  float:left;
  width:500px;
}
aside{
  background-color: #0A0A2A;
  float: right;
  width:200px;
}
footer{
  background-color: #ACFA58;
  clear:both;
}
