@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #F5F6CE;
  margin: 48px 0 0 0;
}
header{
  background-color: #D0F5A9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
#main{
  background-color: #088A85;
  width: calc(100% -200px);
  min-width: 500px;
  float: left;
}
.box{
  background-color: #04B4AE;
  color: white;
  width: 240px;
  height: 80px;
  margin: 5px;
  float: left;
  overflow: auto;
}
#picture{
  width: 10%;
  height: 10%;
  position: absolute;
  left: 500px;
  top: 100px;
}
aside{
  background-color: #0A0A2A;
  float: right;
  width: 200px;
  position: relative;
  top: 20px;
  right: 10px;
  color: white;
}
footer{
  background-color: #D0F5A9;
  clear: both;
}
